.DS_Store
atuin/
avante*/
fish/
flutter/
fontforge/
gh/
git/
github-copilot/
gtk-3.0/
htop/
karabiner/
neofetch/
qBittorrent/
raycast/
spotify-player/
uv/
dolphinrc
kde.org/
dconf/
pavucontrol.ini
pulse/
emacs/
